@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
}
/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_modules.scss */
.about-s2 {
  background-position-x: right !important;
}

/* line 7, ../sass/partials/_modules.scss */
.bg-about-desc {
  background-attachment: scroll;
  background-image: url(../img/about/about_desc.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 10, ../sass/partials/_modules.scss */
.bg-about-ext {
  background-attachment: scroll;
  background-image: url(../img/about/about_ext.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 13, ../sass/partials/_modules.scss */
.bg-contact {
  background-attachment: scroll;
  background-image: url(../img/contact.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 16, ../sass/partials/_modules.scss */
.bg-home {
  background-attachment: scroll;
  background-image: url(../img/home.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 19, ../sass/partials/_modules.scss */
.bg-services {
  background-attachment: fixed;
  background-image: url(../img/services.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 25, ../sass/partials/_modules.scss */
.comingsoon-s1 {
  background-attachment: fixed;
  background-image: url(../img/error_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_modules.scss */
.error-s1 {
  background-attachment: fixed;
  background-image: url(../img/error_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 36, ../sass/partials/_modules.scss */
.index-s1, .services-s1, .about-s1, .contact-s1 {
  background-position-x: 40% !important;
}

/* line 42, ../sass/partials/_modules.scss */
.privacy-s1 {
  background-attachment: fixed;
  background-image: url(../img/error_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 49, ../sass/partials/_modules.scss */
.hover-underline:hover {
  text-decoration: underline !important;
}

/* line 54, ../sass/partials/_modules.scss */
h1, h2, h3, h4, h5, h6, .nav-link {
  font-family: "Raleway";
  letter-spacing: 1px;
}

@media all and (max-width: 767px) {
  /* line 61, ../sass/partials/_modules.scss */
  .bg-md-white {
    background-color: #fff;
    opacity: 0.9;
  }

  /* line 67, ../sass/partials/_modules.scss */
  .border-md-silver {
    border: 1px solid silver;
  }
}
/* line 2, ../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}
/* line 14, ../sass/partials/_minh.scss */
.minh-footer-adj {
  min-height: calc( 100vh - 41px );
  min-height: -o-calc( 100vh - 41px );
  min-height: -moz-calc( 100vh - 41px );
  min-height: -webkit-calc( 100vh - 41px );
}
