.about{
    &-s2{
        background-position-x: right!important;
    }
}
.bg{
    &-about-desc{
        @include set-background($bg__about-desc-img,0,"top right","cover","scroll");
    }
    &-about-ext{
        @include set-background($bg__about-ext-img,0,"top left","cover","scroll");
    }
    &-contact{
        @include set-background($bg__contact-img,0,"top center","cover","scroll");
    }
    &-home{
        @include set-background($bg__home-img,0,"top right","cover","scroll");
    }
    &-services{
        @include set-background($bg__services-img,0,"top right","cover","fixed");
    }
}

.comingsoon{
    &-s1{
        @include set-background($comingsoon-img,0,"center","cover","fixed");
    }
}

.error{
    &-s1{
        @include set-background($error-img,0,"center","cover","fixed");
    }
}
.index,.services,.about,.contact{
    &-s1{
        background-position-x: 40%!important;
    }
}

.privacy{
    &-s1{
        @include set-background($privacy-img,0,"center","cover","fixed");
    }
}

.hover{
    &-underline{
        &:hover{
            text-decoration: underline !important;
        }
    }
}
h1,h2,h3,h4,h5,h6,.nav-link{
    font-family:"Raleway";
    letter-spacing: 1px;
}

@media all and (max-width:767px){
    .bg{
        &-md-white{
            background-color: #fff;
            opacity:0.9;
        } 
    }
    .border{
        &-md-silver{
            border: 1px solid silver;
        }
    }
}