$bg__about-desc-img: "../img/about/about_desc.jpg";
$bg__about-ext-img: "../img/about/about_ext.jpg";
$bg__contact-img: "../img/contact.jpg";
$bg__home-img: "../img/home.jpg";
$bg__services-img: "../img/services.jpg";
$comingsoon-img: "../img/error_bg.jpg";
$error-img: "../img/error_bg.jpg";
$footer__height: 41px;
$privacy-img: "../img/error_bg.jpg";